
<section class="Section Site-section" id="directions">
  <div class="Site-wrap Section-wrap">
    <div class="title title_lg">
      <h2 class="title-base">Направления
      </h2>
    </div>
    <div class="Directions Site-directions">
      <div class="Directions-unit">
        <div class="Directions-card">
          <div class="Directions-content">
            <strong class="Directions-title">ИТ-оборудование<span class="Directions-bullet">01</span>
            </strong>
            <div class="Directions-description">
              <p>Наша команда занимается полным циклом: от разработки решения по запросу клиента и подбора оптимальных вариантов реализации до поставки, внедрения и запуска в эксплуатацию необходимого оборудования и сопутствующих компонентов для функционирования IT-инфраструктуры.
              </p>
              <p>Благодаря эффективно организованной системе сотрудничества с российскими вендорами успешно реализуем проекты в рамках программы импортозамещения. 
              </p>
            </div>
            <div class="Directions-tags">
              <div class="Directions-tagsInner">
                <div class="Tags">
                  <div class="Tag">Серверное оборудование
                  </div>
                  <div class="Tag">Системы хранения данных
                  </div>
                  <div class="Tag">Сетевое оборудование
                  </div>
                  <div class="Tag">ВКС и АТС
                  </div>
                  <div class="Tag">Рабочие станции, ИБП и оргтехника
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="Directions-unit">
        <div class="Directions-card Directions-card_dark">
          <div class="Directions-content">
            <strong class="Directions-title">Информационная безопасность<span class="Directions-bullet">02</span>
            </strong>
            <div class="Directions-description">
              <p>Применяем комплексный подход к построению систем: проводим полноценный аудит и обследование существующих систем, занимаемся организацией проекта, используем Российское ПО и оборудование (в том числе собственного производства), реализуем поставку, внедрение и интеграцию ИБ-решений, тестируем
              </p>
              <p>Также мы обеспечиваем техническую поддержку на любом этапе.
              </p>
            </div>
            <div class="Directions-tags">
              <div class="Directions-tagsInner">
                <div class="Tags">
                  <div class="Tag Tag_invert">Перс. данные № 152-ФЗ
                  </div>
                  <div class="Tag Tag_invert">Критическая инфраструктура № 187-ФЗ
                  </div>
                  <div class="Tag Tag_invert">Безопасность банковских карт PCI DSS
                  </div>
                  <div class="Tag Tag_invert">Приказ ФСТЭК России № 17 - Гос. инф. системы
                  </div>
                  <div class="Tag Tag_invert">Приказ ФСТЭК России № 21 - Персональные данные
                  </div>
                </div>
              </div>
            </div>
          </div><img class="Directions-bg" src="assets/img/bg/areas/2.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %>" srcset="assets/img/bg/areas/2.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 1x, assets/img/bg/areas/2@2x.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 2x, assets/img/bg/areas/2@3x.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 3x" loading="lazy" width="790" height="700" alt="2.jpg"/>
        </div>
      </div>
      <div class="Directions-unit">
        <div class="Directions-card Directions-card_dark">
          <div class="Directions-content">
            <strong class="Directions-title">Виртуализация ИТ-инфраструктуры<span class="Directions-bullet">03</span>
            </strong>
            <div class="Directions-description">
              <p>Осуществляем подбор вариантов виртуализации под цели и задачи бизнеса.
              </p>
              <p>Внедряем и разворачиваем ИТ-инфраструктуру любого масштаба и сложности, осуществляем миграцию с зарубежных продуктов, проводим обучения и оказываем дальнейшую поддержку. 
              </p>
            </div>
            <div class="Directions-tags">
              <div class="Directions-tagsInner">
                <div class="Tags">
                  <div class="Tag Tag_invert">Сети
                  </div>
                  <div class="Tag Tag_invert">Серверы
                  </div>
                  <div class="Tag Tag_invert">Системы хранения
                  </div>
                  <div class="Tag Tag_invert">Рабочие места
                  </div>
                  <div class="Tag Tag_invert">Приложения
                  </div>
                </div>
              </div>
            </div>
          </div><img class="Directions-bg" src="assets/img/bg/areas/3.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %>" srcset="assets/img/bg/areas/3.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 1x, assets/img/bg/areas/3@2x.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 2x, assets/img/bg/areas/3@3x.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 3x" loading="lazy" width="790" height="700" alt="3.jpg"/>
        </div>
      </div>
      <div class="Directions-unit">
        <div class="Directions-card Directions-card_dark">
          <div class="Directions-content">
            <strong class="Directions-title">ИТ-сервисы<span class="Directions-bullet">04</span>
            </strong>
            <div class="Directions-description">
              <p>Поддержка Тринити охватывает все элементы ИТ-инфраструктуры.
              </p>
              <p>Мы предлагаем широкий диапазон услуг, а также ресурсы компании в виде профессиональной команды инженеров и партнёрских соглашений с вендорами.
              </p>
            </div>
            <div class="Directions-tags">
              <div class="Directions-tagsInner">
                <div class="Tags">
                  <div class="Tag Tag_invert">Мультивендорный сервис
                  </div>
                  <div class="Tag Tag_invert">ИТ-аутсорсинг
                  </div>
                  <div class="Tag Tag_invert">Лизинг
                  </div>
                </div>
              </div>
            </div>
          </div><img class="Directions-bg" src="assets/img/bg/areas/4.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %>" srcset="assets/img/bg/areas/4.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 1x, assets/img/bg/areas/4@2x.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 2x, assets/img/bg/areas/4@3x.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 3x" loading="lazy" width="790" height="700" alt="4.jpg"/>
        </div>
      </div>
    </div>
  </div>
</section>