
<section class="Section Site-section" id="expert">
  <div class="Site-wrap Section-wrap">
    <div class="Section-header">
    </div>
    <div class="Section-row Section-row_expert">
      <div class="Section-header">Отраслевая экспертиза
      </div>
      <div class="Section-unit Section-unit_main">
        <div class="Site-textCstm Site-textCstm_lg">Наши специалисты создают&#32;<span class="Site-textCstm Site-textCstm_primary">лучшие практики</span>&#32;при работе с различными секторами экономики
        </div>
      </div>
      <div class="Section-unit Section-unit_sub">
        <div class="Site-textCstm Site-textCstm_mdm">Благодаря накопленному опыту, профессиональным компетенциям и инновационному подходу мы внедряем технологии во все ключевые отрасли и предлагаем широкий комплекс решений их задач
        </div>
      </div>
    </div>
  </div>
  <div class="Slider Slider_catalog Slider_carousel Site-slider slick_catalog">
    <div class="Slider-box">
      <div class="Slider-item"><img class="Slider-bg" src="assets/img/slider/1.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %>" srcset="assets/img/slider/1.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 1x, assets/img/slider/1@2x.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 2x, assets/img/slider/1@3x.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 3x" alt="1.jpg"/>
        <div class="Slider-content">
          <div class="Slider-header">
            <div class="Slider-number">01
            </div>
          </div>
          <div class="Slider-text">ТЭК<span class="Site-br"></span>и промышленность
          </div>
        </div>
      </div>
      <div class="Slider-item"><img class="Slider-bg" src="assets/img/slider/2.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %>" srcset="assets/img/slider/2.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 1x, assets/img/slider/2@2x.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 2x, assets/img/slider/2@3x.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 3x" alt="2.jpg"/>
        <div class="Slider-content">
          <div class="Slider-header">
            <div class="Slider-number">02
            </div>
          </div>
          <div class="Slider-text">Государственный<span class="Site-br"></span>сектор
          </div>
        </div>
      </div>
      <div class="Slider-item"><img class="Slider-bg" src="assets/img/slider/3.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %>" srcset="assets/img/slider/3.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 1x, assets/img/slider/3@2x.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 2x, assets/img/slider/3@3x.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 3x" alt="3.jpg"/>
        <div class="Slider-content">
          <div class="Slider-header">
            <div class="Slider-number">03
            </div>
          </div>
          <div class="Slider-text">Медиа<span class="Site-br"></span>и телекоммуникации
          </div>
        </div>
      </div>
      <div class="Slider-item"><img class="Slider-bg" src="assets/img/slider/4.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %>" srcset="assets/img/slider/4.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 1x, assets/img/slider/4@2x.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 2x, assets/img/slider/4@3x.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 3x" alt="4.jpg"/>
        <div class="Slider-content">
          <div class="Slider-header">
            <div class="Slider-number">04
            </div>
          </div>
          <div class="Slider-text">Сфера услуг
          </div>
        </div>
      </div>
      <div class="Slider-item"><img class="Slider-bg" src="assets/img/slider/5.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %>" srcset="assets/img/slider/5.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 1x, assets/img/slider/5@2x.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 2x, assets/img/slider/5@3x.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 3x" alt="5.jpg"/>
        <div class="Slider-content">
          <div class="Slider-header">
            <div class="Slider-number">05
            </div>
          </div>
          <div class="Slider-text">Медицина<span class="Site-br"></span>и здравоохранение
          </div>
        </div>
      </div>
      <div class="Slider-item"><img class="Slider-bg" src="assets/img/slider/6.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %>" srcset="assets/img/slider/6.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 1x, assets/img/slider/6@2x.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 2x, assets/img/slider/6@3x.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 3x" alt="6.jpg"/>
        <div class="Slider-content">
          <div class="Slider-header">
            <div class="Slider-number">06
            </div>
          </div>
          <div class="Slider-text">Транспорт
          </div>
        </div>
      </div>
      <div class="Slider-item"><img class="Slider-bg" src="assets/img/slider/7.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %>" srcset="assets/img/slider/7.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 1x, assets/img/slider/7@2x.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 2x, assets/img/slider/7@3x.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 3x" alt="7.jpg"/>
        <div class="Slider-content">
          <div class="Slider-header">
            <div class="Slider-number">07
            </div>
          </div>
          <div class="Slider-text">Торговля
          </div>
        </div>
      </div>
      <div class="Slider-item"><img class="Slider-bg" src="assets/img/slider/8.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %>" srcset="assets/img/slider/8.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 1x, assets/img/slider/8@2x.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 2x, assets/img/slider/8@3x.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 3x" alt="8.jpg"/>
        <div class="Slider-content">
          <div class="Slider-header">
            <div class="Slider-number">08
            </div>
          </div>
          <div class="Slider-text">Образование
          </div>
        </div>
      </div>
    </div>
    <div class="Site-wrap Slider-navigateWrap">
      <div class="Slider-navigate">
        <div class="Slider-buttons">
          <div class="Slider-prev"><svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<g id="Frame 2" clip-path="url(#clip0_578_1039)">
<path id="Union" d="M14.3603 7.49963L8.2799 13.5801L7.15476 12.455L11.3145 8.29524L0.636719 8.29524L0.636719 6.70407L11.3145 6.70407L7.15476 2.54435L8.2799 1.41924L14.3603 7.49963Z" fill="white"/>
</g>
<defs>
<clipPath id="clip0_578_1039">
<rect width="14" height="14" fill="white" transform="translate(0.5 14.5) rotate(-90)"/>
</clipPath>
</defs>
</svg>

          </div>
          <div class="Slider-next"><svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<g id="Frame 2" clip-path="url(#clip0_578_1039)">
<path id="Union" d="M14.3603 7.49963L8.2799 13.5801L7.15476 12.455L11.3145 8.29524L0.636719 8.29524L0.636719 6.70407L11.3145 6.70407L7.15476 2.54435L8.2799 1.41924L14.3603 7.49963Z" fill="white"/>
</g>
<defs>
<clipPath id="clip0_578_1039">
<rect width="14" height="14" fill="white" transform="translate(0.5 14.5) rotate(-90)"/>
</clipPath>
</defs>
</svg>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>