
<div class="Site-wrap">
  <article class="Article">
    <h1>Lorem ipsum dolor sit amet,
    </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam consequuntur distinctio
    </p>
    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consectetur delectus dolore eos fugiat itaque iure laudantium magni maiores nihil optio, possimus quidem, saepe sed, suscipit unde velit vitae voluptate!
    </h2>
    <div class="pict pict_right"><img src="assets/img/slider/1.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %>" srcset="assets/img/slider/1.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 1x, assets/img/slider/1@2x.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 2x, assets/img/slider/1@3x.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 3x" alt="1.jpg"/>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores at, ipsa laboriosam nemo nesciunt nobis non quae quidem sequi! Atque corporis earum illum labore natus voluptas voluptatum. Impedit, optio!
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda cupiditate distinctio est, excepturi hic, id illum laborum molestiae nulla odit omnis pariatur quod ratione repellat sed sit suscipit voluptas voluptate.
    </p>
    <h3>asperiores aut cumque doloribus, eaque, id mollitia,
    </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad animi consequuntur dolor dolores ea earum error ipsam magnam magni maiores molestiae molestias nam nemo numquam, optio quaerat quam quisquam!
    </p>
    <blockquote>officiis porro quia sapiente voluptas. Aliquid, amet aspernatur eos explicabo hic perferendis rerum?</blockquote>
    <p>Lorem ipsum dolor sit amet,&#32;<small>consectetur adipisicing elit.</small>&#32;Aperiam beatae consequatur culpa cumque dolore,&#32;<small class="ss">earum eos et fugiat ipsum laudantium,</small>&#32;nobis nostrum odit officia! Commodi illum iste nam quas vero.
    </p>
    <ol>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus facere fuga necessitatibus! Aspernatur excepturi harum impedit labore nihil nobis odio perspiciatis possimus quam quod totam, ut velit, veniam! Porro, vel?
      </li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias animi assumenda corporis dolorum ducimus enim itaque laborum magnam necessitatibus nemo nesciunt perferendis perspiciatis, qui quia repellat reprehenderit repudiandae voluptate voluptates.
      </li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aspernatur assumenda, deleniti, ex, facere fugiat fugit harum incidunt laboriosam magnam minima nam nisi numquam odit optio quas sint temporibus vitae?
      </li>
    </ol>
    <table>
      <thead>
        <tr>
          <th>Тест
          </th>
          <th>Значение
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Lorem ipsum dolor.
          </td>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, natus!
          </td>
        </tr>
        <tr>
          <td>Lorem ipsum dolor sit amet.
          </td>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </td>
        </tr>
      </tbody>
    </table>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur delectus, ipsum magni mollitia nam numquam repellat! Inventore, modi.
    </p>
    <table class="table">
      <thead>
        <tr>
          <th>Тест
          </th>
          <th>Значение
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Lorem&nbsp;ipsum&nbsp;dolor.
          </td>
          <td>Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit amet, consectetur adipisicing elit. Dicta, natus!
          </td>
        </tr>
        <tr>
          <td>Lorem ipsum dolor sit amet.
          </td>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pict pict_left"><img src="assets/img/slider/3.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %>" srcset="assets/img/slider/3.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 1x, assets/img/slider/3@2x.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 2x, assets/img/slider/3@3x.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 3x" alt="3.jpg"/>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, adipisci aliquam dolore dolores eligendi harum incidunt itaque magni nulla numquam obcaecati possimus praesentium quia quibusdam repudiandae sapiente tenetur ullam veritatis.
    </p>
    <ul>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores eaque enim eum excepturi facere ipsam maxime minus nemo odio odit pariatur quae, quam quasi saepe suscipit temporibus. Fugiat, sint!
      </li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolorem doloremque facere fuga id illo ipsa, labore laborum magni nam natus nesciunt nobis numquam odio praesentium quam quas tenetur voluptatibus!
      </li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti earum, fugiat iste laborum maiores quam recusandae velit voluptate. Accusamus alias aliquam asperiores commodi dolorem excepturi, inventore officiis quisquam voluptatem voluptatum?
      </li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci error ipsum labore obcaecati, odio perspiciatis provident quasi quia, sed sunt velit vitae! Aperiam eligendi eos necessitatibus. Cum dicta molestiae provident!
      </li>
    </ul><a class="btn btn_success" href="#">Назад</a>
  </article>
</div>